.effctimg-item
  .inner
    position: relative;
    width: 33.333%
    min-height: 250px
    overflow: hidden;
  img
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
    transition: transform .3s ease 0s;
    &:hover
      transform: scale(1.03);
  .hbody
    position: relative;
    z-index: 2
    color: #fff
    font-size: 16px
    padding-left: 14px
    font-weight: bold;
    a
      color: #fff
      font-size: 22px
      display: block;
      padding: 15px 0 6px 0
  .dot
    position: absolute;
    bottom: 15px;
    left: 14px;
    z-index: 2
    color: #fff
    font-size: 16px
    font-weight: bold;
