// body
//   font-size: 12px
// a
//   color: #666
//   text-decoration: none
//   &:hover,&:active
//     color: #333
//     text-decoration: underline



.wid1000
  width: 1000px
  margin: 0 auto

.hei129
  height: 129px

.mt30
  margin-top: 30px



.j-row-list
  font-size: 0
  margin-left: -8px
  li
    display: inline-block
    font-size: 12px
    margin-left: 8px

.j-column-list
  li
    display: block

.j-copydl
  font-size: 0
  span
    color: #333
    display: inline-block
    font-size: 14px
    margin-right: 10px
  >ul
    display: inline-block

// select
.j-select
  padding: 10px 0
  display: block
  position: relative
  height: 20px
  >span
    display: block
    // background: url(../images/join/job-icon1.jpg) no-repeat right top #f2f2f2
    // background-size: 36px
    width: 100%
    height: 100%
    line-height: 40px
    position: absolute
    top: 0
    left: 0
    text-indent: 10px
    font-size: 14px
    border: 1px solid #ddd
  select
    opacity: 0
    position: absolute
    top: 0
    left: 0
    width: 95%
    background: #ccc
    height: 100%
    outline: none


//垂直居中
.vertical-center
  display: table
  // height  需要指定高度
  .vc-main
    display: table-cell
    vertical-align: middle

//fixed 定位
.f-fixed
  background: #fff
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 9



// 搜索
.j-search
  >div
    display: inline-block
    font-size: 12px
  input[type="text"]
    margin-left: 1px
    width: 82%
    display: inline-block
  .j-search-other
    span,a
      display: inline-block
      line-height: 3
      margin-left: 10px
    a
      color: red
      margin-left: 0

  .j-search-btn
      padding: 0.7em 1.2em
      border-radius: 0 4px 4px 0
      margin-left: -3px
      margin-top: -1px


//form
// input[type='text']
//   border: 1px solid #ddd
//   display: block
//   height: 30px
//   line-height: 30px
//   padding: .4em .6em
//   width: 100%


// 头部1
.header
  border-bottom: 1px solid #ddd
  .head-top
    height: 30px
    line-height: 30px
    border-bottom: 1px solid #ddd
    .head-top-r
      text-align: right
.head-mian
  padding: 1em 0
  .j-search-label
    line-height: 30px
    margin-left: 10px

//头部2  用于登录、注册等页面




//底部
.footer
  .foot-top
    height: 30px
    line-height: 30px
    border-top: 1px solid #ddd
    border-bottom: 1px solid #ddd
  .foot-bottom
    border-top: 1px solid #ddd
    text-align: center
    padding: 1em 0
    p
      line-height: 25px
  .foot-main
    padding: 1em 0
    .foot-m-r
      margin-left: 0
      text-align: center
      li
        margin-left: 0
      span
        font-size: 14px
        margin-bottom: 8px
      li
        line-height: 22px




.wrapper
  min-height: 400px









//demo login
html,body
  height: 100%
  width: 100%

.boxer
  width: 100%
  height: 100%
  box-sizing: border-box
  display: table
  overflow: hidden
  .boxer-header
    height: 10em
    display: table-row
  .boxer-body
    display: table-row
    // // height: 550px
    // background: url('https://as.zbjimg.com/static/login/login/img/login-bg_2fc38ad.jpg')
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
  .grids
    height: 100%
  .boxer-footer
    display: table-row
    height: 12em




.register-container
  position: relative
#register
  position: absolute
  right: 2em
  top: 2em
  width: 400px
  height: 338px
  // border: 1px solid #ececec
  .tabsGroupY
    border-radius: 4px
  .inputGroup
    input
      width: 17em

  .list-wrap
    height: 100%
    .hlist
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 100%;
      margin-left: -1px
      text-align: center;
      li
        width: 50%
        height: 100%
        border-left: 1px solid #ddd
        padding: 0
        &:hover
          border-bottom: 2px solid #2db7f5;

  #valide,#code
    width: 9.4em
  .btn-center
    display: block
    width: 30%
    margin: 1em auto
  .tabsGroupY
    .tabsBoxes
      border: none
      padding: 1em 0
      overflow: inherit
    .tabsMenus
      overflow: hidden
      border-bottom: 1px solid #ececec

  .hbody
    margin-top: 0.5em

  .other-info
    font-size: 12px
    width: 90%
    margin: 0.6em auto
  .hb-item
    overflow: hidden
    width: 90%
    font-size: 12px
    margin: auto;
    // .item-attribute
    //   display: inline-block
    //   margin-left: 1em
    //   font-size: 12px

  .qrcode
    font-size: 12px
    width: 220px
    height: 220px
    margin: auto

  .fkp-desc
    .btn
      font-size: 12px
      padding: .5em 0;
      width: 8em;
  .disabled-link
    background-color: #E8ECEF
    color: gray

//图片验证码
.code
  font-size: 12px;
  img
    width: 56%
    vertical-align: middle;
  a
    color: red
    text-decoration: underline;
