.layout-three{
  width: 98%;
  padding: 1%;
  .part1{
    display: inline-block;
    width: 28%;
    vertical-align: top;
  }
  .part2{
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  .part3{
    display: inline-block;
    width: 18%;
    vertical-align: top;
  }
}
