// display-flex($flex-direction = row, $justify-content = flex-start, $align-items = center, $align-content = center)
display-flex($flex-direction = row, $justify-content = flex-start, $align-items = initial, $align-content = initial)
  display: flex
  flex-direction: $flex-direction
  justify-content: $justify-content
  align-items: $align-items
  align-content: $align-content

listUl($marginLeft= 6px)
  display-flex(row,flex-start,center,center)
  flex-wrap: wrap;
  margin-left: - $marginLeft
  li
    margin-left: $marginLeft
