@import "../../_copy2dist/iconfont";
@import "./_detail/index";
@import "./_form";
@import "./_tab";
@import "./_cards";
@import "./_grids";
@import "./_media";

.mainBtn
  width: 3em;
  a
    display: block;
