.btn
  padding: .4em 1em;
  text-align: center;
  white-space: nowrap;
  min-width: 100px
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 2px;
  text-decoration: none;

+ prefix-classes('btn-')
  .fab427
    @extends .btn
    color: #fff;
    background-color: #fab427;
    border-color: @background-color
    &:hover
      opacity: 0.9;
      background-color: @background-color
    &:active
      opacity: 0.8;
      background-color: @background-color

  .disabled
    @extends .btn
    color: #666666
    background-color: #e3e3e3
    border-color: @background-color

  .link
    @extends .btn
    border: none
    text-decoration: underline;

.inputGroup{
  .btn{
    // width: 6em;
    outline:none;
  }
}
