.color-0078e7
  color: #0078e7
.card-item
  width: 25%;
  font-size: 14px;
  .inner
    border: 1px solid #fff
    cursor: pointer;
    padding: 8px;       //影响 dot
    position: relative;
    &:hover
      border: 1px solid #0078e7
  i
    font-style: normal
    font-size: 12px
    strong
      font-size: 20px
      margin-left: 4px
  .hheader
    margin-bottom: 8px;
    width: 100%
  .hbody
    a,span
      display: block;
      margin-bottom: 4px;
    .sketch
      font-size: 12px;
  .hfoot
    margin-top: 14px
  .dot
    position: absolute
    bottom: 8px
    right: 8px
