<!doctype html>
<html class="no-js" lang="en">
    <head>
      <title>Hello World</title>
      @@include('../_common/header/head.html')
    </head>
    <body>
      <div id='demo_dd'>

      </div>
      @@include('../_common/footer/foot.html')
      <script src="/js/parts-demo-dropdown.js"></script>
    </body>
</html>
