<!doctype html>
<html class="no-js" lang="en">
    <head>
      <title>Hello World</title>
      @@include('../_common/header/head.html')
      <!-- <link rel="stylesheet" href="/css/m/filter.css"> -->
    </head>
    <body>
      <div class="filter-box">
        <div id='id-filtrate' style="margin: 1em;"></div>
      </div>
      @@include('../_common/footer/foot.html')
      <script src="/js/parts-demo-filter.js"></script>
    </body>
</html>
