<!doctype html>
<html class="no-js" lang="en">
    <head>
      <title>Hello World</title>
      @@include('../_common/header/head.html')
      <link rel="stylesheet" href="/css/m/button.css">

      <link rel="stylesheet" href="/css/m/list-news.css">
      <link rel="stylesheet" href="/css/m/list-card.css">
      <link rel="stylesheet" href="/css/m/list-effctimg.css">
    </head>
    <body>
      <div id="list" style="width:96%; margin: 20px auto"></div>
      @@include('../_common/footer/foot.html')
      <script src="/js/parts-demo-list.js"></script>
    </body>
</html>
