<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>单页路由</title>
    @@include('../_common/header/head.html')
    <link rel="stylesheet" href="/css/t/iconfont.css">
    <!-- <link rel="stylesheet" href="/css/parts-router.css"> -->
    <link rel="stylesheet" href="/css/m/steps.css">
    <link rel="stylesheet" href="/css/m/rate.css">
    <link rel="stylesheet" href="/css/t/boostrap_datepick.css">
    <link rel="stylesheet" href="/css/m/badge.css">
    <link rel="stylesheet" href="/css/m/progress.css">
    <link rel="stylesheet" href="/css/m/table.css">
    <link rel="stylesheet" href="/css/m/side.css">
  </head>
  <body>
    <div id="side-content"></div>
    @@include('../_common/footer/foot.html')
    <script src="/js/parts-demo-router.js"></script>
  </body>
</html>
