<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>单页路由</title>
    @@include('../_common/header/head.html')
  </head>
  <body>
    <div id="test-router"></div>
    @@include('../_common/footer/foot.html')
    <script src="/js/parts-demo-router.js"></script>
  </body>
</html>
