// html,body
//   height: 100%;
iconfont()
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px

hoverbg()
  background: #212735;
  box-shadow: 0px 0px 1px #4E6BAF;
  border-left-color: #3c8dbc;
  color: #fff
  transition: all 0.3s ease-in-out;

iscroll()
  position: absolute;       //添加这个可以出现滚动效果
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  transform: translateZ(0);
  user-select: none;
  text-size-adjust: none;

#side-content
  height: 100%;
  .routerGroup
    height: 100%;
    overflow: hidden;   //如果启用 iscroll 这个可以清除滚动条
  .routerMenus
    box-shadow: 0 0 1px #ddd;
    background: #2c3144;
    color: #fff;
    flex-direction: column;
    /**
     * 侧边栏公共部分
     */
    a
      color: #fff;
      display: block
    .itemrootCkb
      display: none;
    .treeContainer
      position: relative;
    .treeGroup
      iscroll()
    li
      &.tree-menu         //只有一级栏目时
        icon-l()
        &:after
          content: "\e6a3"    //一级栏目  右边的 icon
          position: absolute;
          right: 14px;
        &:nth-child(2)
          icon-l2()
        &:nth-child(3)
          icon-l3()
        &:nth-child(4)
          icon-l4()
        &:nth-child(5)
          icon-l5()

    /**
     * 侧边栏头部部分
     */
    .left-sidebar-head
      box-shadow: 0 0 1px #ddd;
      background: #2c3144;
      position: relative;
      z-index: 3;
    .left-sidebar-img
      width: 28%;
      margin: 8% auto;
      img
        border-radius: 100%;
    /**
     * 侧边栏main部分
     */
    .treeContainer
      margin: 8% 0
      flex: auto;
    .level0
      ul
        height: 100%;
        &.none
          height: 0
          transform: scaleY(0);
      li
        cursor: pointer;
        color: #8aa4af
        font-size: 14px;
        line-height: 40px;
        padding-left: 42px;
        &:hover
          color: #fff
          box-shadow: 0px 0px 1px #4E6BAF;
          transition: all 0.3s ease-in-out;
          i
            color: #fff
        &.level1
          &:hover
            box-shadow: none;

      >.itemCategory
        >.caption
          border-left: 3px solid transparent;
          display: block;
          height: 44px;
          line-height: 44px;
          cursor: pointer;
          padding-left: 40px;
          position: relative;
          &:hover
            hoverbg()
          i
            iconfont()
            position: absolute;
            top: 0
            &:first-child
              left: 5%
            &:last-child
              right: 5%
          &.fold              //一级栏目  右边的 icon 展开后
            i
              &:last-child
                &:before
                  content: "\e6a3"

    .level1
      padding-left: 0!important;
      &:hover
        span
          color: #8aa4af
      span
        display: block;
        font-size: 14px
        padding-left: 42px
        position: relative;
        i
          position: absolute;
          top: 0
          right: 5%
          iconfont()
        &.fold              //二级栏目  右边的 icon 展开后
          i
            &:before
              content: "\e6a3"
        &:hover
          color: #fff
          box-shadow: 0px 0px 1px #4E6BAF;
          transition: all 0.3s ease-in-out;
      li
        padding-left: 52px;
        line-height: 38px;
        font-size: 12px;
        &:hover
          box-shadow: 0px 1px 0px #353B52;



//以上是左侧边栏的样式


/**
* 以下是右侧边栏的样式
*/
.routerBoxes
  // background-color: #ecf0f5;
  padding: 20px;
