.modal
  .modal-clone
    position: absolute
    top: 0px
    right: 0
    width: 20px
    height: 20px
  .modal-main
    min-height: 166px
    margin: auto
    .modal-center
      text-align: center
      font-size: 14px
    p
      margin: 0
  .modal-foot
    text-align: right
    button
      display: inline-block
      margin-left: 2%

.b-b
  border-bottom: 1px solid #ddd
  margin-bottom: 10px;
  padding-bottom: 10px;
.b-t
  border-top: 1px solid #ddd
  margin-top: 10px;
  padding-top: 10px;
  
//垂直居中
.vertical-center
  display: table
  // height  需要指定高度
  .vc-main
    display: table-cell
    vertical-align: middle
