.sticky-container
  z-index: 9991
  width: 100%
  min-height: 70px
  position: fixed
  top: 0
  left: 0
  background-color:#fff
  outline: none
  -webkit-background-clip: padding-box
  -moz-background-clip: padding-box
  background-clip: padding-box
  -webkit-box-shadow: 0 2px 3px rgba(74, 74, 74, 0.3)
  -moz-box-shadow: 0 2px 3px rgba(74, 74, 74, 0.3)
  box-shadow: 0 2px 3px rgba(74, 74, 74, 0.3)

.container-none
  display: none

.sticky-left
  width: 70px
  height: 100%

.sticky-right
  left: auto
  top: 0
  right: 0
  width: 70px
  height: 100%

.sticky-bottom
  top: auto
  bottom: 0
  left: 0
  -webkit-box-shadow: -1px -2px 3px rgba(74, 74, 74, 0.3)
  -moz-box-shadow: -1px -2px 3px rgba(74, 74, 74, 0.3)
  box-shadow: -1px -2px 3px rgba(74, 74, 74, 0.3)
