<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>Hello World</title>
        @@include('../../../_common/header/head.html')
    </head>
    <body class="flex-center">
        <div class="box flex-center">
          <div class="">
            <img src="/images/logo118-1.png" alt="" style="width: 118px;height: 118px;">
            <p>FKP2/Deep3</p>
            <p>支持多层RESFUL路由结构</p>
          </div>
        </div>
        @@include('../../../_common/footer/foot.html')
    </body>
</html>
