@import "../../tree/city"

/**
 * 城市列表   类似选择出发城市
 * @type {[type]}
 */
.control-city
  .fkp-desc
    background: #fff
    position: absolute;
    top: 32px;
    left: 84px;
    display: none
    .citybigbox
      border: 1px solid $borderColor;
      width: 400px;
      padding: 10px;
    .citybox-search
      width: 100%
      border: 1px solid $borderColor;
      // citybox-search($width = 100%, $lineHeight = 30px, $borderBottom = 1px solid transparent, $padding = 0 6px, $color =  $color666, $background =  $color2577e3, $color2 = $colorfff)
      citybox-search(254px, 30px, 1px solid $borderColor, 0 6px, $color666, $color2577e3, $colorfff)
.citybigbox-head
  position: relative;
  line-height: 30px
  {fontSize12}
  text-align: left;
  p
    color: $color999

.city-box
  .tabsMenus
    cityboxMenus()
  .tabsBoxes
    cityboxBoxes()
  .city-hot-title   //这个class 是在数据上添加的 热门出现的列表不需要出现热门两字
    .itemCategory
      >a
        display: none;

.cloneicon
  position: absolute;
  top: 0
  right 0;
  width: 14px
  &:before
    content: "\e653"
    font-size: 10px;
    color: $color999
