// @import "../../input/_common/index"
@import "../../_common/index"
@import "../../button/_jx/index"
@import "../../dd/_jx/index"
@import "../../dropdown/index"
search()
  display-flex(row, flex-start)
  border: 2px solid #2585cf
  position: relative
  .dropdown-link-parent
    width: 80px
    .itemCategory
      .caption
        line-height: 40px
        i
          position: absolute
  .inputGroup
    flex: 1
    label,.inputItem
      margin-bottom: 0
      &.for-autoCompleteReplaceZone
        position: initial
    input
      border: none
      box-shadow: initial
      padding: 0
    .fkp-desc
      margin-left: 0
    .fkp-dd
      height: 2.5em
      width: 100%
      &:after
        content: ''

  .form-span
    position: absolute
    bottom: -24px
    left: 0
    width: 100%
    li
      ul
        display-flex(row, flex-start)
        li
          margin-right: 6px
          &:first-child
            margin-left: 14px
            margin-right: 18px
  button
    @extends .btn
    background-color: #2585cf
    border-color: #2585cf
    border-radius: 0
    color: #fff
    font-size: 16px
    padding: 0.5em 1.7em
