.progress-line
  width: 100%
  font-size: 12px
  position: relative
.progress-outer
  padding-right: 4%
  margin-right: -4%
  display: inline-block
  width: 96%
  .progress-inner
    display: inline-block
    width: 100%
    background-color: #f7f7f7
    border-radius: 100px
    vertical-align: middle
  .progress-bg
    border-radius: 100px
    background-color: #108ee9
    transition: all .4s cubic-bezier(.08,.82,.17,1) 0s
    position: relative
    height: 10px      //这个高度也通过 js 去控制进度度的粗细
    &:before
      content: ""
      opacity: 0
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: #fff
      border-radius: 10px
      animation: ant-progress-active 2.4s cubic-bezier(.23,1,.32,1) infinite

.progress-text
  width: 3.5%
  font-size: 1em
  vertical-align: middle
  display: inline-block
  position: relative
  top: -1px
  text-align: center
