#region-content
  padding:10px 20px
.itemrootCkb
  display: none
.level0
  .itemCategory
    padding: 10px 0
    .caption
      padding: 0 0 10px;
      display: inline-block;
      font-size: 16px
      color: #dcdcdc
      // &:after
      //   content: ''
      //   display: block
      //   border: 1px dashed #dcdcdc
      //   position: relative
      //   top: -10px
      //   left: 40px
.level2
  >.itemCategory  
    padding: 0
    margin-top: 4px
    .caption
      padding: 0
      font-size: 14px
      color: #545454
      margin-left: 2px
      // &:after
      //   border:none
    ul
      margin-left: 50px
      transform:translateY(-18px);
      li
        display: inline-block
        height:24px
        margin: 0 8px;
        a
          font-size: 14px;
          color:#0000cc

    
