*
  box-sizing: border-box
  padding: 0
  margin: 0

.disN
  display: none

li
  list-style-type: none


a
  color: rgba(0,0,0,.65);
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;


img
  width: 100%;
  height: auto;
