.block{
  display: block;
}

.none{
  display: none;
}

.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}

.alignLeft{
  text-align: left;
}

.f-hidden
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;

.fo
  overflow: hidden

.fl
  float: left

.fr
  float: right

.disN
  display: none
