.block{
  display: block;
}

.none{
  display: none;
}

.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}

.alignLeft{
  text-align: left;
}

.f-hidden
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;

.fo
  overflow: hidden

.fl
  float: left

.fr
  float: right

.disN
  display: none


/**
 * 直接写: opacity: 0.9,
 * 最终生成：
  * unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=90)');
  * opacity: 0.9,
 */
opacity(n)
  opacity n
  if support-for-ie
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')


iconfont()
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px

/**
 * 直接写: content: '/xxxx',
 * 最终生成：
 * font-family:"iconfont" !important;
 * font-style:normal;
 * -webkit-font-smoothing: antialiased;
 * -webkit-text-stroke-width: 0.2px;
 * -moz-osx-font-smoothing: grayscale;
 * font-size: 16px;
 * content: '/xxxx',
 */
content(n)
  iconfont()
  content: n
