@import "../_common/index"
.itemrootCkb
  display: none
.side
  border: 1px solid $borderColor
  width: 300px
  min-height: 400px
  &.side-left
    float: left
    margin-right: 20px
  .hlist
    margin: 0 8px 10px 8px
    >li
      border-bottom: 1px dashed $borderColor
      padding: 10px 0
      .itemCategory
        >a,span
          color: #258ce3
          font-size: 16px
          margin-bottom: 8px
          display: block
        ul
          margin-left: -5px
          display-flex(row, flex-start)
          {fontSize12}
        li
          margin-left: 5px
  a
    &:hover
      color: #258ce3
      text-decoration: underline
