@import "../_theme/theme-fff-1"
@import "../_common/index"

.treeContainer
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  flex-direction: column;
  margin: 8% 0
  width: 14em;
  .treeGroup
    iscroll()    //如果启用 iscroll 需要清除这个注释
