$borderColor = #e3e3e3
fontSize16  = {
  font-size: 16px
}
.jx-table
  .fixed-table-container
    border: none
  .bootstrap-table
    .table
      border-bottom: none
      > thead
        > tr
          background: #f8f8f8
          > th
            border-bottom: none
            border-left: none
            font-weight: normal;
            {fontSize16}
      >tbody
        >tr
          border-bottom: 1px solid $borderColor
          >td
            border-left: none
