.radioGroup{
    font-size: 16px;
    display:-moz-box;
    display:-webkit-box;
    display:flex;
    lable, .radioItem{
      position: relative;
      display:-moz-box;
      display:-webkit-box;
      display:flex;
      margin-right:1em;
      -moz-box-align:center;
      -webkit-box-align:center;
      -o-box-align:center;
      box-align:center;
    }
    input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border: 0;
      margin: 0;
      z-index: 999;
      &:checked{
        &+.fkp-radio-box:after{
          // -webkit-transform:scale(0);
          // -moz-transform:scale(0);
          transform: scale(0);
        }
        &+.fkp-radio-box:before{
          // -webkit-transform:scale(1);
          // -moz-transform:scale(1);
          transform: scale(1);
        }
      }
    }
    span{
      display: block;
      font-size: .875em;

      /* = fkp-title */
      &:first-child{
        margin-right: .3125em;
      }

      /* = fkp-desc */
      &:last-child{
        margin-left: .3125em;
      }
      &.fkp-radio-box{
        position: relative;
        font-family: iconfont!important;
        font-size: 1em;
        &:after{
          content: '\e6d7';
          display:block;
          color:#d6d6d6;
          padding-top: 0;
        }
        &:before{
          content: '\e656';
          display:block;
          position:absolute;
          padding-top: 0.1em;
          left:0;
          top:0;
          color:#66afe9;
          // -webkit-transform:scale(0);
          // -moz-transform:scale(0);
          transform: scale(0);
          // -webkit-transition:-webkit-transform .2s;
          // -moz-transition:-moz-transform .2s;
          transition: transform .2s
        }
      }
    }
    .fkp-title{

    }
    .fkp-desc{

    }
}

.checkboxGroup{
  font-size: 16px;
  display:flex;
  .checkboxItem{
    width: 100%;
    position: relative;
    display:flex;
    margin-right:1em;
    box-align:center;
  }
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 0;
    margin: 0;
    z-index: 999;
    &:checked{
      &+.fkp-checkbox-box:after{
        // transform: scale(0);
      }
      &+.fkp-checkbox-box:before{
        opacity: 1;
        // transform: scale(1);
      }
    }
  }

  .switch {
    .fkp-checkbox-box{
      width: 36px;
      height: 15px;
      position: relative;
      border: 1px solid #dfdfdf;
      background-color: #fdfdfd;
      box-shadow: #dfdfdf 0 0 0 0 inset;
      border-radius: 15px;
      background-clip: content-box;
      display: inline-block;
      -webkit-appearance: none;
      user-select: none;
      outline: none;
      &:after{
        content: '';
        width: 22px;
        height: 24px;
        position: absolute;
        top: -5px;
        left: 0;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      }
      &:before{
        content: '';
      }
    }
    input{
      &:checked{
        &+.fkp-checkbox-box{
          border-color: #64bd63;
          box-shadow: #64bd63 0 0 0 16px inset;
          background-color: #64bd63;
          &:after{
            left: 18px;
          }
        }
      }
    }
  }

  span{
    display: inline-block;
    font-size: .875em;

    /* = fkp-title */
    &:first-child{
      margin-right: .3125em;
    }

    /* = fkp-desc */
    &:last-child{
      margin-left: .3125em;
    }
    &.fkp-checkbox-box{
      position: relative;
      font-family: iconfont!important;
      font-size: 1em;
      &:after{
        content: '\e6d5';
        display:block;
        color:#66afe9;
        padding-top: 0;
        transition: all .2s linear;
      }
      &:before{
        content: '\e6d6';
        display:block;
        position:absolute;
        padding-top: 0.1em;
        left:0;
        top:-2px;
        color:#66afe9;
        opacity: 0;
        transition: all .2s linear;
        // transform: scale(1);
        // transition: transform .4s
      }
    }
  }
  .fkp-title{

  }
  .fkp-desc{

  }
}
