.color-108ee9
  color: #108ee9;

.item-news
  width: 100%
  //li
  border-bottom: 1px  dotted #ddd
  padding-top: 10px
  padding-bottom: 10px
  &:hover   //item hover
    background-color: #E8F4FF;
  //li
  .inner
    display: flex
    position: relative

  .hheader
    // width: 25%
    img
      border-radius: 5px
  .hbody
    flex: auto
    margin-left: 20px
    a
      display: block
      color: #108ee9;
      &:hover
        text-decoration: underline
    span
      font-size: 12px
      display: block
      color: #999
    .review
      color: #333
      font-size: 12px;
    .comment
      margin-top: 10px
      // padding: 0 12px
      // max-height: 36px
      // _height: 18px
      // overflow: hidden
      // white-space: pre-wrap
      // word-wrap: break-word
      // word-break: break-all
  .dot
    position: absolute
    top: 6%
    right: 0
    span
      font-size: 12px
      i
        font-style: normal
        strong
          font-weight: normal
          font-size: 20px
