/**
 * 控制背景颜色、字体颜色等版本
 * 调用： {themd}
 */
themd = {
  background: #fff,
  '.level0 li:hover,.level1 span:hover':{
    color: #f4b027
  },
  '.level0 li,.level1 li,.level1 span':{         //leven1=========二级菜单有三级列表
    color: #666
  },
  '.level0>.itemCategory>span':{
    background: #eef5fb
    color: #6095BA
  },
}
/**
 * 控制整体的间距 行高等
 * 调用： {spacing}
 */
spacing = {
  '.level0 li,.level0 span':{
      padding-left: 43px
      line-height: 32px
  }
  '.level1 li,.level1 span':{
    // padding-left: 0
    line-height: 28px
    position: relative
    text-align: center
  }
  '.level1 li:before':{                       //这里是给三四级菜单添加小圆点
    content: ""
    border-radius: 5px
    position: absolute
    top: 45%
    left: -1px
    width: 5px
    height: 5px
  }
  '.level1.itemroot:before':{
    top: 9%
  }
  '.level1 li':{
    padding-left: 12px
  }
}
/**
 * 控制整体的字体
 * 调用： {fontSize}
 */
fontSize = {
  '.level0>.itemCategory>span':{
    font-size: 16px
  },
  '.level0 li': {
    font-size: 14px
  },
  '.level1 li':{
    font-size: 12px
  }
}
