/**
 * 控制背景颜色、字体颜色等版本
 * 调用： {themd}
 */
themd = {
  background: #fff,
  color: #666,
  '.level0 li':{
    border-right: 3px solid transparent
  },
  '.level0 li:hover,.level0 li.active':{
    background: #ecf6fd
    border-right-color: #108ee9
    color: #108ee9
  },
  '.level1 li,.level1 span':{         //leven1=========二级菜单有三级列表
    color: #7B7777
  },
  '.level0 .itemCategory span:hover':{
    color: #108ee9
  },
  '.level0 .level1.itemroot,.level1 li.itemroot':{
    border-right: none
  },
  // '.level0 .level1:hover,.level1 li:hover':{
  '.level0 .level1:hover,.level0 .level2:hover,.level0 .level3:hover':{
    background: none
  },
  '.tree-head':{
    background: #fff
  }
}
/**
 * 控制整体的间距 行高等
 * 调用： {spacing}
 */
spacing = {
  '.level0 li':{
      line-height: 44px
  }
  '.level0>.itemCategory>span':{
      padding-left: 2em
      line-height: 44px
  }
  '.level1 .itemCategory span': {
    padding-left: 2em
    margin-left: -2em
  }
  '.level0 .level1 li':{
    line-height: 38px
  }
  '.level1 li:before,.level2 .itemCategory span:before':{                       //这里是给三四级菜单添加小圆点
    content: "\e60c"
    width: 5px
    height: 5px
    display: inline-block
    margin-right: 6px
  },
  '.tree-menu-body li ul li':{
    position: relative
    padding-left: 6em
    margin-left: -4em
  },
  '.tree-menu-body .level3 li':{
    padding-left: 8em
    margin-left: -6em
  },
  '.level0 .itemroot:before':{
    content: initial
  }
}
/**
 * 控制整体的字体
 * 调用： {fontSize}
 */
fontSize = {
  '.level0>.itemCategory>span':{
    font-size: 16px
  },
  '.level0 li': {
    font-size: 14px
  },
  '.level1 li':{
    font-size: 12px
  }
}
