/**
 * 控制背景颜色、字体颜色等版本
 * 调用： {themd}
 */
themd = {
  background: #2c3144,
  color: #8aa4af,
  '.level0 li:hover,.level1 span:hover':{
    color: #fff
  },
  '.level1 li,.level1 span':{         //leven1=========二级菜单有三级列表
    color: #8aa4af
  },
  '.level0>.itemCategory>span':{
    border-left: 3px solid transparent
  },
  '.level0>.itemCategory>span:hover':{
    background: #212735
    border-left-color: #3c8dbc
    color: #fff
  },
  '.tree-head':{
    background: #2c3144
  }
}
/**
 * 控制整体的间距 行高等
 * 调用： {spacing}
 */
spacing = {
  '.level0 li':{
      line-height: 44px
  }
  '.level0>.itemCategory>span':{
      // margin: 0 0 0 -4em
      padding-left: 2em
      line-height: 44px
  }
  '.level1 .itemCategory span': {
    padding-left: 2em
    margin-left: -2em
  }
  '.level0 .level1 li':{
    line-height: 38px
  }
  '.level1 li:before,.level2 .itemCategory span:before':{                       //这里是给三四级菜单添加小圆点
    content: "\e60c"
    width: 5px
    height: 5px
    display: inline-block
    margin-right: 6px
  },
  '.tree-menu-body li ul li':{
    position: relative
    padding-left: 6em
    margin-left: -4em
  },
  '.tree-menu-body .level3 li':{
    padding-left: 8em
    margin-left: -6em
  },
  '.level0 .itemroot:before':{
    content: initial
  }
}
/**
 * 控制整体的字体
 * 调用： {fontSize}
 */
fontSize = {
  '.level0>.itemCategory>span':{
    font-size: 16px
  },
  '.level0 li': {
    font-size: 14px
  },
  '.level1 li':{
    font-size: 12px
  }
}
