@import "../tree/side"
.routerGroup
  position: relative;
  display: flex;
  flex-direction: row;

.routerMenus
  // background: #fff
  display: flex;
  position: relative;
  z-index: 2;


.routerBoxes
  position: relative;
  flex: 1
  z-index: 1;

.routerGroupX
  position: relative;

.contentHide
  position: absolute;
  left: 0
  top: 0
