@import "../list/hlist";
.hlist{
  .hlist()
}

a{
  color: #7e7e7e;
}
.treeGroupY{
  background-color: #fff;
  font-size: 16px;
  display:flex;
  flex-direction:row;
  height: 100%;
  overflow: hidden;

  // 左侧子项
  li{
    font-size: 14px;
    line-height: 36px;
    position: relative;
    z-index: 10;
    margin: 0 0 0 -4em;   // 对齐
    padding: 0 0 0 5em; // 对齐
    &.itemroot{  //节点 li
      position: relative;
      &:hover{
        background-color: transparent;
      }
      &:before{
        content: none;
      }
    }
    &.selected{
      border-right: 2px solid #2db7f5;
      background-color: #eaf8fe;
    }
    &:hover{
      background-color: #eaf8fe;
    }
    &:before{
      font-family: "iconfont";
      content: '\e60c';
      margin-right: 1px;
      display: inline-block;
      font-size: 6px;
      color: #e2dede;
      transition: all .3s ease;
    }
    &.tree-menu{
      &:before{
        content: none;
      }
    }
    ul{
      list-style: none;
      padding: 0;
      li{
        font-size: 12px;
        margin: 0 0 0 -4em;   // 对齐
        padding: 0 0 0 5em; // 对齐
        .caption{

        }
      }
    }
  }

  // li span 节点标题
  .caption{
    margin: 0 0 0 -4em;   // 对齐
    padding-left: 4em;    // 对齐
    font-size: 14px;
    display: block;
    &:hover{
      background-color: #eaf8fe;
    }
    &:after{
      font-family: "iconfont";
      content: '\e616';
      margin-left: 6px;
      display: inline-block;
      position: absolute;
      top: 3px;
      right: 1em;
      transform: rotate(0deg);
      color: #abaaaa;
      transition: all .3s ease;
    }
    &.fold{
      &:after{
        transform: rotate(-90deg);
      }
    }
  }
}

// 水平tree
@import "./htree";
// @import "./media";
