

.filter-box
  border: 1px solid #d9e8ff
  .treeGroupY
    // li.itemroot
    //   position: initial;
    //
    // .itemCategory
    //   position: initial;
  .hlist
    li
      line-height: 20px;
      font-size: 12px;
      padding: 0 0.6em;
    >li
      border-bottom: 1px solid #ececec
      padding-top: 6px
      padding-bottom: 6px
  .level0
    >.itemCategory
      >span
        color: #999
      >ul
        position: relative;
        >li
          &:first-child
            background: #2577e3
            color: #fff

  .level1
    &.selected
      // margin-bottom: 50px
    >.itemCategory
      // >ul
      //   position: absolute;
      //   top: 40px;
      //   left: 0;
      //   width: 100%
