@import "../../../_common/index"
/**
 * 搭配滚动效果
 */
iscroll()
  position: absolute;       //添加这个可以出现滚动效果
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  transform: translateZ(0);
  user-select: none;
  text-size-adjust: none;



.treeContainer
  width: 100%;
  {themd}
  {spacing}
  {fontSize}
  /**
   * 侧边栏公共部分
   */
  a
    display: block
  .itemrootCkb
    display: none;


  /**
  * 侧边栏头部部分
  */
  .tree-head
    box-shadow: 0 0 1px #ddd;
    position: relative;
    z-index: 3;
    .left-sidebar-img
      width: 28%;
      margin: 8% auto;
      img
        border-radius: 100%;

  /**
   * 侧边栏main部分
   */
  .level0
    ul
      height: 100%;
      &.none
        height: 0
        transform: scaleY(0);
    li
      cursor: pointer;
      transition: all .3s ease-in-out;

    >.itemCategory
      >.caption
        display: block;
        cursor: pointer;
        position: relative;
        i
          iconfont()
          position: absolute;
          top: 0
          left: 5%
          &.first-icon
            left: 9%
          &.right-icon
            left: auto;
            right: 5%
          // &:first-child
          //   left: 5%
          // &:last-child
          //   right: 5%
        &.fold              //一级栏目  右边的 icon 展开后
          i
            &:last-child
              &:before
                content: "\e6a3"

  .level1
    span
      display: block;
      position: relative;
      i
        position: absolute;
        top: 0
        right: 6%
        iconfont()
      &.fold              //二级栏目  右边的 icon 展开后
        i
          &:before
            content: "\e6a3"
