<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>Hello World</title>
        @@include('./_common/header/h5_scale_1.html')
        <link rel="stylesheet" href="/css/t/markdown.css" />
    </head>
    <body>
        <div class="box">
          <div id='slider'> </div>
          <div class="columContainer">
            <div class="columWrap">
              <div class="columBox clearfloat">
                <div id='test' class="test">{{{floor1}}}</div>
                <div id='opensrc' class="test">{{{floor2}}}</div>
              </div>
            </div>
          </div>
          <div id='fkp' class="test" style="margin-top:2em;"> </div>
          <div class="markdown-body u-clearfix">
          </div>
        </div>
        <div id='agzgzNav'>
          <ul>
            <li>
              <img src='/images/logo.png'/>
            </li>
            <li>
              <a href="/blog">博客 /</a>
            </li>
            <li>
              <a href="/docs/fkpdoc">文档</a>
            </li>
          </ul>
        </div>
        @@include('./_common/footer/foot.html')
    </body>
</html>
