<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>Hello World</title>
    @@include('./_common/header/head.html')
    <link rel="stylesheet" href="/css/t/iconfont.css">

    <link rel="stylesheet" href="/css/m/table.css">

  </head>
  <body>
    <div class="container">

    <div id="bootstrapTB" class="btTable"></div>

    @@include('./_common/footer/foot.html')

    <script src="/js/parts-table.js"></script>

  </body>
</html>
