@import "../../_common/index"
/**
 * 类似弹出层的内容框
 *
 */
.form-container
  >div
    background: #fff
    width: 400px
    min-height: 338px;

.tabsGroupY
  border-radius: 4px
  .tabsMenus
    border-bottom: 1px solid #e3e3e3
    overflow: hidden
  .tabsBoxes
    border: none
    padding: 1.2em 1.4em
    overflow: inherit
    font-size: 14px;


.tabs-menu-body
  display-flex(row, flex-start)
  align-items: center;
  align-content: center;
  height: 50px;
  text-align: center;
  li
    cursor: pointer;
    flex: 1
    position: relative;
    line-height: 50px
    &:before
      content: ''
      border-bottom: 2px solid transparent
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
    &.selected,&:hover
      &:before
        border-bottom-color: #999999
