// @gutter-width: 16px;     // 1rem
// @outer-margin: 32px;     // 2rem
// @screen-xlt-min: 320px;  //20em
// @screen-lt-min: 375px;   //23.4375em
// @screen-xxs-min: 414px;  //25.875em
// @screen-xs-min: 480px;   //30em
// @screen-sm-min: 768px;   //48em
// @screen-md-min: 1024px;  //64em
// @screen-lg-min: 1200px;  //75em

little = 'screen and (max-width: 768px)'
medium = 'screen and (min-width: 768px) and (max-width: 992px)'
large = 'screen and (min-width: 992px) and (max-width: 1200px)'
xlarge = 'screen and (min-width: 1200px)'

.box
  position: relative
  display: block
  margin: 5em auto
  margin-top: 0
  height: auto
  width: 90%
  padding: 1em;
  text-align: center
  vertical-align: middle
  ul
    list-style: none

#slider
  width: 80%
  // height: 100%
  margin: 0 auto
  overflow: hidden
  .bx-wrapper
    margin-bottom: 4em;

h1
  border-bottom: 1px solid #f2f2f2
h2
  color: #000
  font-weight: 800
  border-bottom: 1px solid #f2f2f2

h4
  margin: 0.4em 0

.descript
  padding: 2%
  text-align: left
  color: #adadad

@media little
  .box
    width: 94%
    padding: 0
    padding: 2%;
  .bx-pager
    display: none
  #slider
    width: 100%;
    margin: 0;
    padding: 0
  .descript
    font-size: 0.8em
    padding: 4%
  h4
    font-size: 1.4em
  #slider
    .bx-wrapper
      margin-bottom: 2em;
    .bx-viewport
      border: none
      border-bottom: 1px solid #f3f3f3

@media medium
  .box
    width: 100%
    height: 55%
  .bx-pager
    display: none

@media large
  .box
    height: 50%

@media xlarge
  .box
    height: 60%
