@import "../../modules/list/books/index.styl"
@import "./_common/box.styl"
@import "./_common/pushbar.styl"

.test
  width: 100%
  text-align: left
  position: relative;

  .books-parent
    width: 100%;
    font-size: 16px
    .books
      ul
        padding: 0
        margin: 0
        li
          display: inline-block;
          vertical-align: top;
          width: 7em;
          height: 7em;
          margin-top: 0
          border-radius: 2px
          padding: 0.3em
          position: relative;
          text-align: center;
          a
            display: block;
            margin-top: 2.2em;
            text-align: center;
            font-size: 1.2em
            color: #9c9c9c
            &:before
              position: absolute;
              left: 0.2em
              top: 0.2em
              color: #e3e3e3
      .itemroot
        .itemCategory ul, ul
          padding: 0
          margin: 0
          margin-left: 1em
          .itemroot
            ul
              margin-top: 1em;

.columContainer
  width: 100%
  overflow: hidden;
.columWrap
  width: 100%
  overflow-x: auto;
.columBox
  width: 100%;

#agzgzNav
  a
    text-decoration: none;
    color: #7c7c7c
    font-size: 14px;
  ul
    list-style: none;
    padding-left: 1em;
    li
      display: inline-block;
      vertical-align: middle;

.grids
  display: inline-block;
  .hlist
    margin: 0
    padding: 0
  .grids-item
    border: none
    display: inline-block;
    vertical-align: top;

.bottombar-descript
  padding: 0.6em;
  color: #ababab;
  margin-top: 7px;

.sticky-bottom
  height: 88px
  .inputButtons
    position: fixed;
    bottom: 0
    left: 0;
    width: 100%;
    .toolBottonBar
      margin-bottom: 0.6em;
      margin-left:2em;
      i
        font-size: 2em;
        color: #58B2DC
    .inputxxx
      z-index: 10;
      font-size: 2.5rem;
      padding: .9375rem 1.875rem;
      font-family: inherit;
      font-weight: 100;
      border: none;
      outline: none;
      background: rgba(255,255,255,0.95);
      width: 100%;

.grids
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: 1px;
  .hlist
    height: 100%;
  .grids-item
    &:before
      content: none;

@import "./_common/media.styl"
