@import "../../tree/side/scroll/scroll"
@import "../index"
html,body
  height: 100%;

.routerBoxes
  margin-left: 1em;
.routerGroup
  height: 100%;
  overflow: hidden;   //如果启用 iscroll 这个可以清除系统滚动条
.routerMenus
  width: 14em;

// yc
.routerBoxes
  min-height: 100%
  height: 100%;

.treeContainer
  margin: 0
  padding: 0
