.sticky-container
  width: 72.8%;
  left:auto;
  right: 0;
  display: flex
  flex-direction: row;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-height: 30px;
  .sticky-item
    background-color: #fff;
    flex: 1

.sticky-blog
  height: 70px;
  -webkit-box-shadow: 2px -1px 5px 0 rgba(74, 74, 74, 0.3);
  -moz-box-shadow: 2px -1px 5px 0 rgba(74, 74, 74, 0.3);
  box-shadow: 2px -1px 5px 0 rgba(74, 74, 74, 0.3);


.sticky-bottom
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  .sticky-blog
    -webkit-box-shadow: 1px -1px 3px 0 rgba(74, 74, 74, 0.3);
    -moz-box-shadow: 1px -1px 3px 0 rgba(74, 74, 74, 0.3);
    box-shadow: 1px -1px 3px 0 rgba(74, 74, 74, 0.3);


.toplock
  height: 30px;

.bottomlock
  height: 4.3em;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  .b-left
    width: 27%;
  .b-right
    flex: 1;


@import "./media"
