/**
 * 下拉层(dropdown,dd)，公用方法
 * dropdown-ul($top)
 * 因为用了定位，所以top值会根据外层的height不同而不同 ，如果不值，top值默认是2.8
 * 例子1： ul是类似 margin-top:-1px时，可以在父级添加个 min-height 等 dropdown-ul(@min-height)
 * 例子2： ul是类似 margin-top: xxpx，可以定义一个全局的东西（$hei = xxxpx）,dropdown-ul($hei)
 */
dropdown-ul($top=2.8em)
  top: $top
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 1px 2px #e6e5e5;
  background: #fff;
  height: initial;          //.grids .hlist有 height:100%  所以添加 initial 覆盖
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
  //固定个高度，数据过多时会出现滚动条
  height: 160px;
  overflow-y: auto;

  li, .fkp-dd-option
    padding: 0 0.5em;
    line-height: 2em;
    cursor: pointer;
    &:hover
      background-color: #2585cf;
      color: #fff


fkp-dd()
  .fkp-dd
      width: 15.5em;
      height: 2.8em;
      line-height: 1.9;
      position: relative;
      input
        width: 100%
      &+span[class="fkp-input-box"]
          display: none;
      /* 下拉菜单选项 */
      .fkp-dd-list
        display: none;
      ul
        dropdown-ul(@height)
      &:after
          content: '\e661';
          display:block;
          color:#d6d6d6;
          padding-top: 0.1em;
          position:absolute;
          right:0.5em;
          // top:0.35em;
          top: 0;
