.btn{
  padding: .4em 1em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 2px;
  text-decoration: none;
  &:hover{
    opacity: 0.9;
    background-image: linear-gradient(transparent,rgba(0,0,0,.09) 40%,rgba(0,0,0,.1))
  }
  &:active{
    opacity: 0.8;
    background-image: linear-gradient(transparent,rgba(0,0,0,.08) 40%,rgba(0,0,0,.1))
  }
}

+ prefix-classes('btn-')
  .default
    @extends .btn
    color: #333;
    background-color: #fff;
    border-color: #ccc;

  .primary
    @extends .btn
    color: #fff;
    background-color: #0078e7;
    border-color: @background-color

  .fab427
    @extends .btn
    color: #fff;
    background-color: #fab427;
    border-color: @background-color

  .disabled
    @extends .btn
    color: #666666
    background-color: #e3e3e3
    border-color: @background-color


.inputGroup{
  .btn{
    // width: 6em;
    outline:none;
  }
}
