/*
    button 的默认样式
    来自bootstrap
*/
.touchAction(){
  -webkit-touch-action: manipulation;
  -moz-touch-action: manipulation;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.tapHignLight(){
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  -moz-tap-highlight-color:rgba(0, 0, 0, 0);
  -ms-tap-highlight-color:rgba(0, 0, 0, 0);
  -o-tap-highlight-color:rgba(0, 0, 0, 0);
  tap-highlight-color:rgba(0, 0, 0, 0);
}
.userSelect(){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn{
  width: 5em;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  .touchAction();
  cursor: pointer;
  .userSelect();
  background-image: none;
  border: 1px solid #d1cece;
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
  .tapHignLight();

  &:active{
    transition: all 0.02 ease;
    transform: scale(.97);
    opacity: .75;

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);

    &:focus{
      outline: none;
      outline-offset: none;
    }
  }
  &:focus{
    outline: none;
    outline-offset: none;
  }
  &:hover{
    // background-color: #fdfdfd;
    transition: all 60ms ease;
    opacity: .85;
  }
  &+span[class="fkp-input-box"]{
    display: none;
  }
}

.inputGroup{
  .btn{
    width: 6em;
    outline:none;
  }
}
