display-flex($flex-direction = row, $justify-content = flex-start, $align-items = initial, $align-content = initial)
  display: flex
  flex-direction: $flex-direction
  justify-content: $justify-content
  if($align-items != initial)
    align-items: $align-items
  if($align-content != initial)
    align-content: $align-content

/**
 * 直接写: content: '/xxxx',
 * 最终生成：
 * font-family:"iconfont" !important
 * font-style:normal
 * -webkit-font-smoothing: antialiased
 * -webkit-text-stroke-width: 0.2px
 * -moz-osx-font-smoothing: grayscale
 * font-size: 16px
 * content: '/xxxx',
 */
iconfont()
  +cache()
    font-family:"iconfont" !important
    font-style:normal
    -webkit-font-smoothing: antialiased
    -webkit-text-stroke-width: 0.2px
    -moz-osx-font-smoothing: grayscale
    font-size: 16px
content(n)
  iconfont()
  content: n


fontSize12 = {
  font-size: 12px
}
fontSize14 = {
  font-size: 14px
}
fontSize16 = {
  font-size: 16px
}
fontSize18 = {
  font-size: 18px
}
fontSize20 = {
  font-size: 20px
}
fontSize22 = {
  font-size: 22px
}
$borderColor = #e3e3e3


color333 = {
  color: #333
}
color666 = {
  color: #666
}
color999 = {
  color: #999
}
color2577e3 = {
  color: #2577e3
}
$color2577e3 = #2577e3

successIcon()
  &:before
    content: '\e620'
    font-size: 20px
    margin-right: 20px

modal-bg($background-color = rgba(236, 247, 254, 0.7))
  z-index:10020
  background-color: $background-color
  position:fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: auto

modal-container($border-radius = 6px, $border-color = 1px solid rgba(0, 0, 0, 0.3), $box-shadow= 0 3px 7px rgba(0, 0, 0, 0.3))
  // width: 70%
  min-height: 100px
  background-color:#fff
  margin: 0 auto
  border-radius: $border-radius
  outline: none
  border: $border-color
  box-shadow: $box-shadow


//垂直居中方法1
verticalCenter()
  .vertical-center
    display: table
    // height  需要指定高度
    .vc-main
      display: table-cell
      vertical-align: middle
