display-flex(dir, content)
  display: flex
  if dir == row
    flex-direction: row

  else if dir == column
    flex-direction: column

  if content == center
    justify-content: center

  else if content == flex-start
    justify-content: flex-start

  else if content == space-between
    justify-content: space-between

  else if content == space-around
    justify-content: space-around;


/**
 * 直接写: content: '/xxxx',
 * 最终生成：
 * font-family:"iconfont" !important;
 * font-style:normal;
 * -webkit-font-smoothing: antialiased;
 * -webkit-text-stroke-width: 0.2px;
 * -moz-osx-font-smoothing: grayscale;
 * font-size: 16px;
 * content: '/xxxx',
 */
iconfont()
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px
content(n)
  iconfont()
  content: n
