.box
  position: relative
  display: block
  margin: 5em auto
  margin-top: 0
  height: auto
  width: 90%
  padding: 1em;
  text-align: center
  vertical-align: middle
  ul
    list-style: none

#slider
  width: 80%
  // height: 100%
  margin: 0 auto
  overflow: hidden
  .bx-wrapper
    margin-bottom: 4em;

h1
  border-bottom: 1px solid #f2f2f2
h2
  color: #000
  font-weight: 800
  border-bottom: 1px solid #f2f2f2

h4
  margin: 0.4em 0

.descript
  padding: 2%
  text-align: left
  color: #adadad
