#pushboom
  margin-top 4em
  font-size: 16px

.btn-active
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  &:active
    transition: all 0.02 ease;
    transform: scale(.9);
    opacity: .75;


.pushboomContainer
  text-align: left;
  background-color: #fff
  border-radius: 2px
  padding: 0.6em
  height: 220px
  position: relative;
  background-color: #e9fbf0
  // border: 1px solid #f4f4f4;
  // box-shadow: inset 0 0 14px 6px rgba(206, 206, 206, 0.5)
  .hlist
    padding: 0
    margin: 0
    li
      border-radius: 3px;
      display: inline-block;
      vertical-align: top;
      width: 8em
      height: 8em
      // border: 1px solid #51a6e0
      border-radius: 2px
      margin-right: 5px
      margin-bottom: 5px
      background-color: #fffffe
      padding: 0.2em;
      box-sizing: border-box;
      font-size: 14px
      line-height: 1
      white-space: normal
      text-align: left
      a
        font-size: 0.8em;
        text-decoration: none;
        color: burlywood
    .hheader
      height: 3em
    .hbody
      height: 5em
      position: relative;
    .hb-item
      position: absolute;
      bottom: 0.5em
      right: 0.3em
      li
        color: #f0f0f0
        margin: 0
        display: inline-block;
        height: 1.5em
        width: 1.5em

.pushboomContainer
  .for-iscroll-X-root
    height: 8em
  .pushboomBody-parent
    height: 8em
    // width: 100%;
    // overflow: hidden;
    // .pushboomBody
    //   height: 100%
    //   white-space: nowrap;
    //   width: auto;
    //   overflow: auto;
  li
    text-align: left;

.history-parent
  position: absolute;
  left: 0.3em
  bottom: 10px
  padding: 0.3em
  box-sizing: border-box;
  width: 100%
  height: 44.4px;
  .history
    li
      text-align: center;
      width: 3.5em
      height: 3.5em
      line-height: 0.9
      overflow: hidden;
      display: table-cell;
      vertical-align: middle;
      border-radius: 1px;
      margin-right: 4px
      margin-bottom: 4px
      font-size: 10px;
      a
        font-size: 10px;
